# -*- coding: utf-8 -*-
# Copyright (C) 2023
# Benjamin Thomas Schwertfeger https://github.com/btschwertfeger
# Leonhard Thomas Schwertfeger https://github.com/LeonhardSchwertfeger
#

repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --preview, --exit-non-zero-on-fix]
  - repo: https://github.com/pycqa/flake8
    rev: 7.1.1
    hooks:
      - id: flake8
        args:
          - --select=E9,F63,F7,F82
          - --show-source
          - --statistics
  - repo: https://github.com/pycqa/pylint
    rev: v3.3.3
    hooks:
      - id: pylint
        name: pylint
        types: [python]
        exclude: ^tests/
        args:
          - --rcfile=pyproject.toml
          - -d=R0801,C0415,W0718,W0719 # ignore duplicate code and "Import outside toplevel"
          - -j=4
        additional_dependencies:
          - pytz
          - requests
          - undetected-chromedriver
          - Pillow
          - selenium
          - tqdm
          - numpy
          - pyautogui
          - webdriver-manager
          - seleniumbase
          - cloup
  - repo: https://github.com/rbubley/mirrors-prettier
    rev: v3.4.2
    hooks:
      - id: prettier
  - repo: https://github.com/PyCQA/isort
    rev: 5.13.2
    hooks:
      - id: isort
        args: [--profile=black]
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: check-yaml
      - id: check-json
      - id: check-ast
      - id: check-toml
      - id: check-docstring-first
      - id: check-case-conflict
      - id: check-merge-conflict
      - id: check-added-large-files
        args: ["--maxkb=500"]
        exclude: ^assets\/(upload\.gif|generating\.gif|.*\.png)$
      - id: check-executables-have-shebangs
      - id: trailing-whitespace
      - id: fix-byte-order-marker
      - id: fix-encoding-pragma
      - id: mixed-line-ending
      - id: end-of-file-fixer
      - id: detect-private-key
  - repo: https://github.com/pre-commit/pygrep-hooks
    rev: v1.10.0
    hooks:
      - id: python-use-type-annotations
      - id: python-check-blanket-noqa
      - id: python-check-blanket-type-ignore
      - id: python-check-mock-methods
      - id: python-no-eval
      - id: python-no-log-warn
      - id: rst-backticks
      - id: rst-directive-colons
      - id: rst-inline-touching-normal
      - id: text-unicode-replacement-char
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.14.0
    hooks:
      - id: mypy
        name: mypy
        additional_dependencies:
          - types-requests
          - undetected-chromedriver
          - types-click
        pass_filenames: false
        args:
          - --config-file=pyproject.toml
          - --install-types
          - --non-interactive
          - genai_pod
  - repo: https://github.com/psf/black
    rev: 24.10.0
    hooks:
      - id: black
